{{ define "main" }}
<section class="flex-ns flex-wrap justify-around mt5 flex-column items-center" >
  <div class="flex justify-center items-center">
  {{ $pages := where .Site.RegularPages "Section" "events" }}
  {{ $pages = $pages.ByTitle }}
  {{ $paginator := .Paginate $pages 3}}
  <a href="{{ with $paginator.Prev }}{{ .URL }}{{ end }}" ><button id="prevBtn" class="arrow material-symbols-outlined" {{ if not $paginator.HasPrev }}disabled{{ end }}>keyboard_arrow_left</button></a>
  <div class="aaa" id="content">
    {{ range  $paginator.Pages }}
    <a href="{{ .RelPermalink }}">
      {{ with partialCached "func/GetFeaturedImage" . . }}
      <img src="{{ . }}" alt="" class="mw-100vh ph2">
      {{ end }}
    </a>
    {{ end }}
  </div>
  <a href="{{ with $paginator.Next }}{{ .URL }}{{ end }}"><button id="nextBtn" class="arrow material-symbols-outlined" {{ if not $paginator.HasNext }}disabled{{ end }}>keyboard_arrow_right</button></a>
</div>
{{ template "_internal/pagination.html" . }}
</section>
{{ end }}
