{{ define "main" }}

<div class="flex items-center justify-center">
  <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "near-black" }}">
    {{ .Content }}
  </div>
</div>

      <section class="flex-ns flex-wrap justify-around mt5 mr5 ml5">
      {{ range first 5 (where .Site.RegularPages "Section" "resources") }}
      <div class="relative w-100 w-30-l mb4 bg-white">
       {{ .Render "plainsummary" }}
      </div>
      {{ end }}
      </section>
{{ end }}
