{{ define "main" }}
<article class="dn db-l">
  {{- .Content -}}
  {{ partial "Desktop/Homepage/IndexAbout" . }}
  <!---------------------------------------------------------------------------->
  {{ partial "Desktop/Homepage/IndexPastEvents" . }}
  <!---------------------------------------------------------------------------->
  {{ partial "Desktop/Homepage/IndexRecentBlog" . }}
</article>
<article class="db dn-l">
  {{- .Content -}}
  {{ partial "Phone/Homepage/IndexAbout" . }}
  <!---------------------------------------------------------------------------->
  {{ partial "Phone/Homepage/IndexPastEvents" . }}
  <!---------------------------------------------------------------------------->
  {{ partial "Phone/Homepage/IndexRecentBlog" . }}
</article>
{{ end }}
