.height60vh {
  max-height: 60vh;
  overflow: hidden;
}
.height30vh {
  max-height: 40vh;
  overflow: hidden;
}
.height-fit-content {
  height: fit-content;
}
nav a{
  text-decoration: none;
}
.coverHeader{
  max-width: 100vh;
  width: 100%;
}
