.height75 {
  max-height: 75vh;
  overflow: hidden;
}
.height-fit-content {
  height: fit-content;
}
nav a{
  text-decoration: none;
}
.coverHeader{
  max-width: 100vh;
  width: 100%;
}
