{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

  <label class="{{ $.Scratch.Get "labelClasses" }}" for="name">{{ i18n "yourName" }}</label>
  <input type="text" id="name" name="entry.219574682" class="{{ $.Scratch.Get "inputClasses" }}" required placeholder=" " aria-labelledby="name" />

  <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ i18n "emailAddress" }}</label>
  <input type="email" id="email" name="entry.701443563" class="{{ $.Scratch.Get "inputClasses" }}" required placeholder=" " aria-labelledby="email" />
  <div class="requirements f6 gray glow i ph3 overflow-hidden">
    {{ i18n "emailRequiredNote" }}
  </div>


  <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black" type="submit" value="{{ i18n "send" }}" />

</form>
"https://docs.google.com/forms/d/e/1FAIpQLScD-epQWg5wOk4oPyrAOiJQwnrfQKSQg2c6xEXgS63KMJw3jg/formResponse"
<input type="text" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-labelledby="i1 i4" aria-describedby="i2 i3" aria-disabled="false" dir="auto" data-initial-dir="auto" data-initial-value="">
<input type="text" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-labelledby="i6 i9" aria-describedby="i7 i8" aria-disabled="false" dir="auto" data-initial-dir="auto" data-initial-value="">
<input type="hidden" name="entry.219574682" value="">
<input type="hidden" name="entry.701443563" value="">



<form action="https://docs.google.com/forms/d/e/1FAIpQLScD-epQWg5wOk4oPyrAOiJQwnrfQKSQg2c6xEXgS63KMJw3jg/formResponse" target="_self" method="POST" id="mG61Hd" jsmodel="TOfxwf Q91hve CEkLOc" data-shuffle-seed="-999676276232652742"
  data-clean-viewform-url="https://docs.google.com/forms/d/e/1FAIpQLScD-epQWg5wOk4oPyrAOiJQwnrfQKSQg2c6xEXgS63KMJw3jg/viewform" data-response="%.@.]" data-dlp-data="%.@.null,false]" data-first-entry="0" data-last-entry="2" data-is-first-page="true">
  <div jscontroller="yUS4Lc" jsaction="rcuQ6b:rcuQ6b;UxRBlf:rcuQ6b;">
    <div jsname="o6bZLc"><input type="hidden" name="entry.219574682" value=""><input type="hidden" name="entry.701443563" value=""></div>
  </div>
  <div class="RH5hzf RLS9Fe">
    <div class="lrKTG">
      <div class="Dq4amc">
        <div class="m7w29c O8VmIc tIvQIf"><noscript>
            <div class="HB1eCd-X3SwIb-haAclf">
              <div class="HB1eCd-X3SwIb-i8xkGf">
                <div class="tk3N6e-cXJiPb tk3N6e-cXJiPb-TSZdd tk3N6e-cXJiPb-GMvhG">JavaScript isn't enabled in your browser, so this file can't be opened. Enable and reload.</div>
              </div><br>
            </div>
          </noscript>
          <div class="JH79cc RVEQke b33AEc"></div>
          <div class="N0gd6">
            <div class="ahS2Le">
              <div class="F9yp7e ikZYwf LgNcQe" dir="auto" role="heading" aria-level="1">Newsletter<span></span></div>
            </div>
            <div jsname="F0H8Yc" class="liS6Hc"></div>
          </div>
          <div class="zAVwcb"></div>
          <div class="DqBBlb">
            <div class="Oh1Vtf">
              <div class="kesdnc" id="SMMuxb"><a jscontroller="A2m8uc" jsaction="rcuQ6b:npT2md; click:mAWTmb;"
                  href="https://accounts.google.com/Login?continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLScD-epQWg5wOk4oPyrAOiJQwnrfQKSQg2c6xEXgS63KMJw3jg%2Fviewform%3Ffbzx%3D-999676276232652742" aria-describedby="SMMuxb">Sign in to
                  Google</a> to save your progress. <a class="TYUeKb" jscontroller="rmdjlf" jsaction="rcuQ6b:npT2md; click:xdDXgc;" role="button" tabindex="0">Learn more</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="o3Dpx" role="list">
        <div class="Qr7Oae" role="listitem">
          <div jsmodel="CP1oW"
            data-params="%.@.[1820479673,&quot;Name&quot;,null,0,[[219574682,null,false,null,null,null,null,null,null,null,[]]],null,null,null,null,null,null,[null,&quot;Name&quot;]],&quot;i1&quot;,&quot;i2&quot;,&quot;i3&quot;,false,&quot;i4&quot;]">
            <div jscontroller="sWGJ4b" jsaction="EEvAHc:yfX9oc;" jsname="WsjYwc" class="geS5n">
              <div class="z12JJ">
                <div class="M4DNQ">
                  <div id="i1" class="HoXoMd D1wxyf RjsPE" role="heading" aria-level="3"><span class="M7eMe">Name</span></div>
                  <div class="gubaDc OIC90c RjsPE" id="i2"></div>
                </div>
              </div>
              <div jscontroller="oCiKKc" jsaction="rcuQ6b:vZc4S;O22p3e:zjh6rb;b2trFe:eVidQc;sPvj8e:d3sQLd;AHmuwe:h06R8;" class="AgroKb">
                <div class="rFrNMe k3kHxc RdH0ib yqQS1 zKHdkd" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow="" jsname="YPqjbf">
                  <div class="aCsJod oJeWuf">
                    <div class="aXBtI Wic03c">
                      <div class="Xb9hP"><input type="text" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-labelledby="i1 i4" aria-describedby="i2 i3" aria-disabled="false" dir="auto" data-initial-dir="auto"
                          data-initial-value="">
                        <div jsname="LwH6nd" class="ndJi5d snByac" aria-hidden="true">Your answer</div>
                      </div>
                      <div class="i9lrp mIZh1c"></div>
                      <div jsname="XmnwAc" class="OabDMe cXrdqd"></div>
                    </div>
                  </div>
                  <div class="LXRPh">
                    <div jsname="ty6ygf" class="ovnfwe Is7Fhb"></div>
                  </div>
                </div>
              </div>
              <div jsname="Rfh2Tc" class="SL4Sz" id="i3" role="alert"></div>
            </div>
          </div>
        </div>
        <div class="Qr7Oae" role="listitem">
          <div jsmodel="CP1oW"
            data-params="%.@.[73125074,&quot;Email&quot;,null,0,[[701443563,null,false,null,null,null,null,null,null,null,[]]],null,null,null,null,null,null,[null,&quot;Email\u003cbr\u003e&quot;]],&quot;i6&quot;,&quot;i7&quot;,&quot;i8&quot;,false,&quot;i9&quot;]">
            <div jscontroller="sWGJ4b" jsaction="EEvAHc:yfX9oc;" jsname="WsjYwc" class="geS5n">
              <div class="z12JJ">
                <div class="M4DNQ">
                  <div id="i6" class="HoXoMd D1wxyf RjsPE" role="heading" aria-level="3"><span class="M7eMe">Email<br></span></div>
                  <div class="gubaDc OIC90c RjsPE" id="i7"></div>
                </div>
              </div>
              <div jscontroller="oCiKKc" jsaction="rcuQ6b:vZc4S;O22p3e:zjh6rb;b2trFe:eVidQc;sPvj8e:d3sQLd;AHmuwe:h06R8;" class="AgroKb">
                <div class="rFrNMe k3kHxc RdH0ib yqQS1 zKHdkd" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow="" jsname="YPqjbf">
                  <div class="aCsJod oJeWuf">
                    <div class="aXBtI Wic03c">
                      <div class="Xb9hP"><input type="text" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-labelledby="i6 i9" aria-describedby="i7 i8" aria-disabled="false" dir="auto" data-initial-dir="auto"
                          data-initial-value="">
                        <div jsname="LwH6nd" class="ndJi5d snByac" aria-hidden="true">Your answer</div>
                      </div>
                      <div class="i9lrp mIZh1c"></div>
                      <div jsname="XmnwAc" class="OabDMe cXrdqd"></div>
                    </div>
                  </div>
                  <div class="LXRPh">
                    <div jsname="ty6ygf" class="ovnfwe Is7Fhb"></div>
                  </div>
                </div>
              </div>
              <div jsname="Rfh2Tc" class="SL4Sz" id="i8" role="alert"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ThHDze" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:qV61Ff(X5DuWc),Gl574d(QR6bsb),V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe); keydown:duASZc" data-shuffle-seed="-999676276232652742"
        data-should-execute-invisible-captcha-challenge="false" data-is-receipt-checked="false">
        <div class="DE3NNc CekdCb">
          <div class="lRwqcd">
            <div role="button" class="uArJ5e UQuaGc Y5sE8d VkkpIf QvWxOd" jscontroller="VXdfxd"
              jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventDefault=true); touchcancel:JMtRjd;focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"
              jsshadow="" jsname="M2UYVd" aria-label="Submit" tabindex="0">
              <div class="Fvio9d MbhUzd" jsname="ksKsZd"></div>
              <div class="e19J0b CeoRYc"></div><span jsslot="" class="l4V7wb Fxmcue"><span class="NPEfkd RveJvd snByac">Submit</span></span>
            </div>
          </div>
          <div class="nYdzXd">
            <div role="button" class="uArJ5e UQuaGc kCyAyd l3F1ye TFBnVe" jscontroller="VXdfxd"
              jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventDefault=true); touchcancel:JMtRjd;focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"
              jsshadow="" jsname="X5DuWc" tabindex="0">
              <div class="Fvio9d MbhUzd" jsname="ksKsZd"></div>
              <div class="e19J0b CeoRYc"></div><span jsslot="" class="l4V7wb Fxmcue"><span class="NPEfkd RveJvd snByac">Clear form</span></span>
            </div>
          </div>
        </div>
        <div class="T2dutf">Never submit passwords through Google Forms.</div>
      </div><input type="hidden" name="fvv" value="1"><input type="hidden" name="partialResponse" value="[null,null,&quot;-999676276232652742&quot;]"><input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx"
        value="-999676276232652742"><input type="hidden" name="submissionTimestamp" value="-1">
    </div>
  </div>
</form>
